body{
  margin:0;
  padding:0;
  font-family: neue-haas-grotesk-display, sans-serif;
  background-color: white;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
  padding: 60px;
}

p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 25px;
  font-weight: 400;
  padding: 20px 40px 20px;
  line-height: normal;
  float: left;
}


#grid {
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 2fr));
  grid-auto-rows: 2fr;
}

.cont {
  background: none;
  background-color: white;
}

.cont-one {
  grid-column: 2 / 6;
  grid-row: 2 / 4;
}

.cont-two {
  grid-column: 2 / 6;
  grid-row: 2 / 4;
}

.cont-three {
  grid-column: 2 / 6;
  grid-row: 2 / 4;
}

#grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

#grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}


#grid > * {
  background: rgba(0,0,0,0.1);
  background-position: 0px 0px;
  animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
   from { background-position: 10% 100%; }
    to { background-position: 100% 10%; }
  }

.grid-row-wrapper {
  border: solid red 2px;
}

.logo {
  position: absolute;
  width: 35vw;
  top: 31%;
  left: 30%;
}

.logo-pages {
  position: absolute;
  width: 400px;
  top: 0;
  left: 4%;
}

.title {
  color: black;
  font-size: 30px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}


.title-inactive {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.title-inactive:hover {
  border: solid red 2px;
}

.pSub {
  color: grey;
}

.home {
  position: relative;
  top: 50%;
  left: 0%;
  right: 0%;
  padding: 80px;
  margin: 0 auto;
  width: 100%;
  height: auto;
}


/* ============================================================================= */
/* ============================================================================= */

@media (max-width: 1343px) {

  .b6, .b7, .b9, .b10, .b11 {
    display: none;
  }

}


@media (max-width: 1152px) {

  .b6, .b7, .b9, .b10, .b11 {
    display: none;
  }

}

@media (max-width: 1000px) {

  .cont-three {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
  }

}


@media (max-width: 768px) {

  #grid {
    display: grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 2fr));
    grid-auto-rows: 2fr;
  }

  .b3, .b4 .contEx, .b6, .b7, .b9, .b10, .b11, .b18 {
    display: none;
  }

  .cont-three {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
  }

}
