body{
  margin:0;
  padding:0;
  background-color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
  overflow: hidden;
  max-width: 100%;
}


a {
  text-decoration: none;
  color: white;
}

p {
  font-size: 25px;
  font-weight: 400;
  padding: 20px 40px 20px;
  line-height: normal;
  float: left;
}

.page {
  position: relative;
  top: 38%;
}

.title {
  color: black;
  font-size: 30px;
  text-align: center;
}


.title-inactive {
  color: white;
  font-size: 30px;
  text-align: center;
}

#grid {
  display: grid;
  display: grid;
  grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;
  grid-auto-rows: 2fr;
}

#grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

#grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}


#grid > * {
  background: rgba(0,0,0,0.1);
  background-position: 0px 0px;
  animation: animatedBackground 40s linear infinite;
}


@keyframes animatedBackground {
   from { background-position: 10% 100%; }
    to { background-position: 100% 10%; }
  }



/* ============================================================================= */
/* ============================================================================= */



@media (max-width: 1140px) {
  #grid {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .a3, .a4, .a6, .a7, .a9, .a10, .a11, .a12, .a13, .a14, .a15, .a16, .a17, .a18, .a19, .a20 {
    display: none;
  }

}

@media (max-width: 750px) {

  body {
    overflow: auto;
  }

  #grid {
    grid-template-columns: 50% 50%;
  }

  .a30 {
    display: none;
  }

  .a6, .a7 {
    display: block;
  }
}
