*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



Body {
  background: red;
}


p {
  color: white;
  font-family: filson-pro;
  font-weight: 400;
  font-size: ;
  line-height: 25px;
  margin-top: 30px;
  position: relative;
}

#fun{
  color: white;
  margin-top: 50px;
  font-size: 100px;
  font-weight: 700;

}
